.container {
  box-sizing: border-box;
  width: 350px;
  display: flex;
  flex-direction: column;

  border-radius: 3px;
  padding: 30px 20px 15px;
  box-shadow: 0 0 10px 5px rgba(131, 213, 245, 0.25);

  .input {
    margin: 0 0 30px;
    padding: 0 3px;
    outline: none;
    font-size: 30px;
    font-weight: 500;
    border: none;
  }

  .rate {
    color: #777777;
    font-size: 13px;
  }
}
