.input {
  display: none;
}

.input:checked + .label {
  background-color: #63a3f3;
  color: white;
}

.label {
  display: block;
  border: 1px solid #777777;
  border-right: none;
  padding: 10px;
}

.label:hover {
  cursor: pointer;
  background-color: rgba(2, 129, 255, 0.2);
}

.label:first-of-type {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

